
a{
  color: #2e6174;
}
a:hover, a:focus{
  background-color: #fffe8c;
}
body{
  font-family: verdana, corbel, helvetica, arial, sans-serif;
  line-height: 1.286em; /* 18 */
  margin: 0;
}

#header {
  border-bottom: solid .071em #999;
  height: 8em;
  text-align: center;
}

#header a {
  height: 100px;
  width: 100px;
  float: left;
  background: url('images/docs.png') no-repeat 1.286em 0;
  display: block;
}

#toc{
  background: #f1f1f1;
  border: solid .143em #999;
  margin: 1.286em;
  padding: 1.143em;
}

#footer{
  font-size: .714em;
  line-height: 1.8em;
  margin: 1.286em 0 0;
  text-align: center;
}

#lastModified{
  display: none;
}

code.block{
  display: block;
  margin: 1.286em;
  background: #f1f1f1;
  padding: 5px;
  font-size: 14px;
  border: solid 1px #999;
  overflow: hidden;
  white-space: pre;
  font-family: monospace;
}